@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary-dark {
  @apply text-white;
}

.bg-primary-dark a {
  @apply text-secondary;
}

footer.bg-primary-dark a {
  @apply text-white;
}

a {
  @apply hover:opacity-90;
}

/*custom classes*/
.btn {
  @apply px-5 py-4 transition duration-500 lg:hover:opacity-80;
}

.btn.filled {
  @apply font-bold text-center text-white border border-solid bg-secondary border-secondary;
}

.btn.flat {
  @apply font-bold text-center border border-solid text-secondary border-secondary hover:bg-secondary hover:text-white;
}

.card {
  @apply bg-white shadow-card rounded-xl lg:transform hover:-translate-y-2;
}

.card-borderless {
  @apply bg-white rounded-none shadow-card lg:transform hover:-translate-y-2;
}

.custom-line-bullets li::before {
  content: "— ";
  @apply font-bold leading-loose text-secondary;
}

.nav-item,
.submenu-block > ul > li {
  @apply flex flex-col justify-center h-6 px-0 pb-0 text-xs text-primary;
}

.nav-item,
.submenu-block > ul > li {
  min-height: 46px;
}

.submenu-block > ul > li {
  @apply ml-5 border-b border-gray-light last:border-b-0;
}

.nav-link {
  @apply underline;
}

.submenu-block {
  @apply border-t border-gray-light;
}

#menu-toggle:checked + #menu,
.submenu-toggle:checked ~ .submenu-block {
  display: block;
}

.submenu-toggle:checked + label div > #open,
.submenu-toggle:not(:checked) + label div > #closed {
  display: none;
}

#menu > ul > li {
  @apply border-b border-gray-light text-primary last:border-0;
}

.desktop-submenu-toggle:hover > .desktop-submenu {
  display: block;
}

.desktop-submenu ul li {
  @apply py-3;
}

@-webkit-keyframes dotsFadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.dots1 {
  background-image: url(../public/img/dots1-left-up.svg), url(../public/img/dots1-right-down.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 40vw auto, 40vw auto;
  -webkit-animation: dotsFadeIn 2s;
  animation: dotsFadeIn 2s;
}

.dots2 {
  background-image: url(../public/img/dots2-left-up.svg), url(../public/img/dots2-right-down.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 40vw auto, 40vw auto;
  -webkit-animation: dotsFadeIn 2s;
  animation: dotsFadeIn 2s;
}

.dots2.dark {
  background-image: url(../public/img/dots2-dark-left-up.svg),
    url(../public/img/dots2-dark-right-down.svg);
}

@media only screen and (min-width: 1280px) {
  .dots1,
  .dots2 {
    background-size: 20vw auto, 20vw auto;
  }
}

.separator {
  width: 95px;
  height: 2px;
  margin: 15px auto;
  border: solid 2px #a3c412;
  background-color: #a3c412;
  display: block;
}

.cards-grid {
  background-image: url(../public/img/oval-left.svg), url(../public/img/oval-right.svg);
  background-position: top 50% left, top 20% right;
  background-repeat: no-repeat;
  background-size: 20vw auto, 20vw auto;
}
@media only screen and (max-width: 640px) {
  .cards-grid {
    background-image: none;
  }
}

.card-no-hover {
  @apply bg-white shadow-card rounded-xl;
}

.two-column-bullets ul {
  @apply space-y-1 custom-line-bullets;
}

@media only screen and (min-width: 1024px) {
  .two-column-bullets ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

.image-and-text > p {
  @apply mb-10 leading-loose;
}

.custom-input {
  @apply placeholder-white placeholder-opacity-50 border border-solid border-primary focus:outline-none opacity-70 md:text-sm lg:text-base;
}

.top-left-shadow {
  background-image: url(../public/img/dots1-left-up.svg); /*cambiar por la imagen que es*/
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 40vw auto;
}

.p_py-2 p{
  @apply py-2;
}