@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary-dark {
  @apply text-white;
}

p > a,
.text-columns a {
  @apply text-secondary underline;
}

footer.bg-primary-dark a {
  @apply text-white;
}

a {
  @apply hover:opacity-90;
}

button:focus {
  outline: none;
}

/*custom classes*/
.btn {
  @apply p-4 cursor-pointer transition duration-500 lg:hover:opacity-80;
}

.btnCategory {
  @apply font-medium h-auto bg-transparent hover:bg-secondary text-secondary hover:text-white py-2 px-4 mr-3 mb-3 border border-secondary hover:border-transparent rounded-none;
}

.btn.filled {
  @apply font-bold text-center text-white border border-solid bg-secondary border-secondary;
}

.btn.flat {
  @apply font-bold text-center border border-solid text-secondary border-secondary;
}

.btn-mobile {
  @apply text-sm p-2;
}

/*! purgecss start ignore */
.filled-bgGreen-textBlue {
  @apply font-bold text-center border border-solid text-primary-dark border-secondary bg-secondary;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.flat-borderGreen-textBlue {
  @apply font-bold text-center border-4 border-solid text-primary-dark border-secondary;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.flat-borderGreen-textGreen {
  @apply font-bold text-center text-xs md:text-base border-4 border-solid text-secondary border-secondary;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.flat-underline {
  @apply pb-1 font-bold text-center uppercase border-t-0 border-l-0 border-r-0 border-b-4 border-solid border-secondary;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.flat-underline.textBlue {
  @apply text-primary-dark hover:text-secondary;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.flat-underline.textWhite {
  @apply text-white hover:text-secondary;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.flat-underline.textGreen {
  @apply text-secondary;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.filled-bgGreen-textBlue::after,
.flat-borderGreen-textBlue::after {
  margin-left: 0.7rem;
  opacity: 1;
  transition: opacity 1s ease;
  content: url(../public/img/chevron-right-blue.svg);
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.flat-borderGreen-textGreen::after,
.flat-underline::after,
.btn.flat::after {
  margin-left: 0.7rem;
  opacity: 1;
  transition: opacity 1s ease;
  content: url(../public/img/chevron-right.svg);
}
/*! purgecss end ignore */

.btn.contentBtn {
  @apply font-bold h-12 px-5 rounded-none items-center content-center mb-11 md:mb-auto flex mr-auto text-base;
}

.card {
  @apply bg-white shadow-card rounded-xl;
}

.hover_translate-y-2 {
  @apply lg:transform hover:-translate-y-2;
}

.hover_translate-y-2 {
  @apply lg:transform hover:-translate-y-2;
}

.card-borderless {
  @apply bg-white rounded-none shadow-card lg:transform hover:-translate-y-2;
}

.custom-line-bullets li::before {
  content: "— ";
  @apply font-bold leading-loose text-secondary;
}

.custom-dot-list ul {
  @apply text-primary-dark font-medium;
}

.custom-dot-list li::before {
  @apply leading-tight;
  content: "";
  height: 0;
  width: 0;
  background-color: #fff;
  border-radius: 50%;
  border: solid 5px #a4c22c;
  display: inline-block;
  margin-right: 8px;
}

.nav-item,
.submenu-block > ul > li {
  @apply flex flex-col justify-center h-6 px-0 pb-0 text-xs text-primary;
}

.nav-item,
.submenu-block > ul > li {
  min-height: 46px;
}

.submenu-block > ul > li {
  @apply ml-5 border-b border-gray-light last:border-b-0;
}

.nav-link {
  @apply underline;
}

.submenu-block {
  @apply border-t border-gray-light;
}

.carouselTitle {
  @apply w-full items-start font-bold text-left self-start text-primary-dark mb-6 overflow-hidden h-28 text-3xl lg:h-32 lg:mb-9 lg:text-4xl xl:h-29 xl:mb-10;
}

.carouselText {
  @apply w-full h-16 mb-11 items-start text-left self-start  text-sm md:text-lg md:h-20 text-primary-dark;
}

#menu-toggle:checked + #menu,
.submenu-toggle:checked ~ .submenu-block {
  display: block;
}

.submenu-toggle:checked + label div > #open,
.submenu-toggle:not(:checked) + label div > #closed {
  display: none;
}

#menu > ul > li {
  @apply border-b border-gray-light text-primary last:border-0;
}

.desktop-submenu-toggle:hover > .desktop-submenu {
  display: block;
}

.desktop-submenu ul li {
  @apply py-3;
}

@-webkit-keyframes dotsFadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.dots1 {
  background-image: url(../public/img/dots1-left-up.svg), url(../public/img/dots1-right-down.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 40vw auto, 40vw auto;
  -webkit-animation: dotsFadeIn 2s;
  animation: dotsFadeIn 2s;
}

.dots2 {
  background-image: url(../public/img/dots2-left-up.svg), url(../public/img/dots2-right-down.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 40vw auto, 40vw auto;
  -webkit-animation: dotsFadeIn 2s;
  animation: dotsFadeIn 2s;
}

.dots2.dark {
  background-image: url(../public/img/dots2-dark-left-up.svg),
    url(../public/img/dots2-dark-right-down.svg);
}

.dots2-left {
  background-image: url(../public/img/dots2-left-up.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 25vw auto;
  -webkit-animation: dotsFadeIn 2s;
  animation: dotsFadeIn 2s;
}
.dots2-left.dark {
  background-image: url(../public/img/dots2-dark-left-up.svg);
}
.dots3 {
  background-image: url(../public/img/dots3-left-up.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 65vw auto;
  -webkit-animation: dotsFadeIn 2s;
  animation: dotsFadeIn 2s;
}

.dots4 {
  background-image: url(../public/img/dots3-right-up.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 25vw auto;
  -webkit-animation: dotsFadeIn 2s;
  animation: dotsFadeIn 2s;
}

.dots5 {
  background-image: url(../public/img/dots5-left-down.svg), url(../public/img/dots3-right-up.svg);
  background-position: bottom left, top right;
  background-repeat: no-repeat;
  background-size: 80vw auto, 80vw auto;
  -webkit-animation: dotsFadeIn 2s;
  animation: dotsFadeIn 2s;
}

.dots6 {
  background-image: url(../public/img/dots2-left-up.svg), url(../public/img/dots2-right-down.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 40vw auto, 40vw auto;
  -webkit-animation: dotsFadeIn 2s;
  animation: dotsFadeIn 2s;
}

.dots7 {
  background-image: url(../public/img/dots2-left-up.svg), url(../public/img/dots3-right-up.svg);
  background-position: top left, top right;
  background-repeat: no-repeat;
  background-size: 40vw auto, 40vw auto;
  -webkit-animation: dotsFadeIn 2s;
  animation: dotsFadeIn 2s;
}

.dots-down-left-and-right {
  background-image: url(../public/img/dots5-left-down.svg),
    url(../public/img/dots2-dark-right-down.svg);
  background-position: bottom left, bottom right;
  background-repeat: no-repeat;
  background-size: 40vw auto, 40vw auto;
  -webkit-animation: dotsFadeIn 2s;
  animation: dotsFadeIn 2s;
}

.blue-oval-dots1-bg {
  background-image: url(../public/img/dots1-left-up.svg), url(../public/img/dots1-right-down.svg),
    url(../public/img/oval-bottom-left-narrow.svg), url(../public/img/oval-top-right.svg);
  background-position: top left, bottom right, bottom left, top right;
  background-repeat: no-repeat;
  background-size: 90vw auto, 90vw auto, 30vw auto, 40vw auto;
}

@media only screen and (min-width: 640px) {
  .blue-oval-dots1-bg {
    background-size: 50vw auto, 50vw auto, 20vw auto, 40vw auto;
  }
}

@media only screen and (min-width: 768px) {
  .dots3 {
    background-image: url(../public/img/dots3-left-up.svg), url(../public/img/dots3-right-up.svg);
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: 30vw auto, 60vw auto;
    -webkit-animation: dotsFadeIn 2s;
    animation: dotsFadeIn 2s;
  }
  .dots5 {
    background-size: 40vw auto, 40vw auto;
  }
  .blue-oval-dots1-bg {
    background-size: 50vw auto, 50vw auto, 15vw auto, 40vw auto;
  }
}
@media only screen and (min-width: 1024px) {
  .dots3 {
    background-size: 26vw auto, 45vw auto;
  }
  .dots5 {
    background-size: 30vw auto, 30vw auto;
  }
  .blue-oval-dots1-bg {
    background-size: 30vw auto, 30vw auto, 13vw auto, 30vw auto;
  }
}

@media only screen and (min-width: 1280px) {
  .dots1,
  .dots2,
  .dots7 {
    background-size: 20vw auto, 20vw auto;
  }
  .dots3 {
    background-size: 15vw auto, 25vw auto;
  }
  .dots5 {
    background-size: 18vw auto, 18vw auto;
  }
  .dots6 {
    background-size: 30vw auto, 30vw auto;
  }
}

@media only screen and (min-width: 1536px) {
  .blue-oval-dots1-bg {
    background-size: 30vw auto, 30vw auto, 9vw auto, 30vw auto;
  }
}

.separator {
  width: 95px;
  height: 2px;
  margin: 15px auto;
  border: solid 2px #a3c412;
  background-color: #a3c412;
  display: block;
}

.separator-2 {
  width: 216px;
  margin: 22px auto;
  border: 1px solid #a3c412;
  display: block;
}
.separator.no-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0px;
  margin-right: 0px;
}
.cards-grid {
  background-image: url(../public/img/oval-left.svg), url(../public/img/oval-right.svg);
  background-position: top 50% left, top 20% right;
  background-repeat: no-repeat;
  background-size: 20vw auto, 20vw auto;
}
@media only screen and (max-width: 640px) {
  .cards-grid {
    background-image: none;
  }
}

.two-column-bullets ul {
  @apply space-y-1 custom-line-bullets;
}
.two-column-dot-bullets ul {
  @apply space-y-1 custom-dot-list;
}

@media only screen and (min-width: 1024px) {
  .two-column-bullets ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  .two-column-dot-bullets ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

.p_mb-10 p {
  @apply mb-10;
}

.p_leading-loose p {
  @apply leading-loose;
}
.li_leading-loose li {
  @apply leading-loose;
}

.p_py-3 p {
  @apply py-3;
}
.p_2xl_pb-8 p {
  @apply 2xl:pb-8;
}

.strong_pt-6 strong {
  @apply pt-6;
}
strong {
  @apply font-bold;
}

.custom-input {
  @apply placeholder-white placeholder-opacity-50 border border-solid border-primary focus:outline-none opacity-70 md:text-sm lg:text-base;
}

.custom-form-input {
  @apply placeholder-black placeholder-opacity-50 focus:outline-none text-lg;
}

.top-left-shadow {
  background-image: url(../public/img/oval-top-left.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 40vw auto;
}

.p_py-2 p {
  @apply py-2;
}

label.checkbox-label::before {
  background-color: #eaeaea;
  content: "";
  height: 24px;
  width: 24px;
  padding: 0;
}

input[type="checkbox"]:checked + label.checkbox-label::after {
  position: absolute;
  content: "";
  left: 8px;
  top: 5px;
  width: 8.2px;
  height: 12.7px;
  border: solid #0c3248;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input:focus,
select:focus {
  outline: none;
  box-shadow: inset 0 -2px 0 0 #a3c412;
}

.blue-oval-bg {
  background-image: url(../public/img/oval-bottom-left.svg), url(../public/img/oval-top-right.svg);
  background-position: bottom left, top right;
  background-repeat: no-repeat;
  background-size: 30vw auto, 30vw auto;
}

.blue-oval-left-and-dots-right-bg {
  background-image: url(../public/img/oval-left.svg), url(../public/img/dots3-right-up.svg);
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
  background-size: 20vw auto, 25vw auto;
  -webkit-animation: dotsFadeIn 2s;
  animation: dotsFadeIn 2s;
}

.blue-oval-up-left-and-right-bg {
  background-image: url(../public/img/oval-top-left.svg), url(../public/img/oval-top-right.svg);
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
  background-size: 15vw 20vw, 15vw 20vw;
  -webkit-animation: dotsFadeIn 2s;
  animation: dotsFadeIn 2s;
}

.blue-oval-up-left-and-dots-down-right-bg {
  background-image: url(../public/img/oval-top-left.svg), url(../public/img/dots1-right-down.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: 40vw auto, 40vw auto;
  -webkit-animation: dotsFadeIn 2s;
  animation: dotsFadeIn 2s;
}

.blue-top-right-oval-bg {
  background-image: url(../public/img/oval-top-right-2.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 500vw auto;
}
@media only screen and (min-width: 768px) {
  .blue-top-right-oval-bg {
    background-position: top left;
    background-size: 150vw auto;
  }
}
@media only screen and (min-width: 1024px) {
  .blue-top-right-oval-bg {
    background-position: top right;
    background-size: 55vw auto;
  }
}

.a_text-black a {
  @apply text-black;
}

.a_font-bold a {
  @apply font-bold;
}

.custom-check-square-list {
  padding-left: 32px;
  background-image: url(../public/img/check-square.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 0px 3px;
}

.custom-minus-list {
  padding-left: 32px;
  background-image: url(../public/img/minus.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.custom-plus-list {
  padding-left: 32px;
  background-image: url(../public/img/plus.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 0px 3px;
}

li span.custom-dot-list:before {
  content: "";
  height: 0;
  width: 0;
  background-color: #fff;
  border-radius: 50%;
  border: solid 5px #a4c22c;
  display: inline-block;
  margin-right: 8px;
}

li span.custom-check-list:before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  height: 14px;
  width: 14px;
  background-image: url(../public/img/check-circle.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/*! purgecss start ignore */
li span.custom-dot-list-primary:before {
  content: "";
  height: 0;
  width: 0;
  background-color: #fff;
  border-radius: 50%;
  border: solid 3px #617a88;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 2px;
}
/*! purgecss end ignore */

.cardText {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrow_up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 7px solid #323232;
}

.social_media {
  width: 35px;
  height: 95px;
  background-color: #323232;
  border-radius: 5px;
}

.social_media_icon {
  height: 19px;
  width: 19px;
}

/*! purgecss start ignore */
.richtext-content-container a {
  text-decoration: underline;
  color: #a4c22c;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.richtext-content-container h2 {
  @apply font-bold text-primary-dark text-left sm:leading-10 text-2xl sm:text-4xl mt-7 mb-5 xl:mt-14;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.richtext-content-container h3 {
  @apply leading-5 font-bold text-primary-dark text-left text-xl sm:text-3xl mt-7 mb-5 xl:mt-14;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.richtext-content-container h4 {
  @apply text-2xl font-bold text-primary-dark text-left;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.richtext-content-container h5 {
  @apply text-xl lg:text-2xl font-bold text-primary-dark text-left;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.richtext-content-container p > .quote {
  @apply block border-l-4 border-secondary pl-2 ml-5;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.richtext-content-container ul {
  list-style-type: none;
  list-style-position: unset;
  margin-bottom: 20px;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.richtext-content-container li span.custom-line-bullets:before {
  @apply font-bold text-secondary;
  content: "— ";
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.richtext-content-container li span.custom-dot-list:before {
  content: "";
  height: 0;
  width: 0;
  background-color: #fff;
  border-radius: 50%;
  border: solid 5px #a4c22c;
  display: inline-block;
  margin-right: 8px;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.richtext-content-container ol {
  list-style-type: decimal;
  padding-left: 15px;
  text-align: left;
  color: #617a88;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.richtext-content-container p {
  @apply text-base text-left h-auto text-primary w-full;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.richtext-content-container p:empty::after {
  content: "\A";
  white-space: pre;
}
/*! purgecss end ignore */

.p_mb-5 p {
  @apply mb-5;
}
.ul_mt-7 ul {
  @apply mt-7;
}

.ul_mb-5 ul {
  @apply mb-5;
}

.p_text-lg p {
  @apply text-lg;
}

.p_leading-relaxed p {
  @apply leading-relaxed;
}

/*! purgecss start ignore */
.title_mt-14 .title-2,
.title_mt-14 .title-3,
.title_mt-14 .title-4,
.title_mt-14 .title-5 {
  @apply block mt-14;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.title_mb-5 .title-2,
.title_mb-5 .title-3,
.title_mb-5 .title-4,
.title_mb-5 .title-5 {
  @apply block mb-5;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.p_lg-text-lg p {
  @apply lg:text-lg;
}
/*! purgecss end ignore */

/*! purgecss start ignore*/
.p_sm-text-sm p {
  @apply sm:text-base;
}
/*! purgecss end ignore*/

/*! purgecss start ignore */
.richtext-content-container .footer-text-1 {
  @apply block border-primary border-t-2 pt-14 w-full;
}
/*! purgecss end ignore */

/*! purgecss start ignore */
.richtext-content-container .footer-text-2 {
  @apply border-primary border-t-2 pt-5 w-7;
}
/*! purgecss end ignore */

.accordion-panel-label {
  cursor: pointer;
}

.accordion-panel-label:focus {
  outline: none;
}

.accordion-panel-inner {
  overflow: hidden;
  will-change: height;
  transition: height 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}
